* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.4;
  font-weight: bold;
}

body {
  margin: auto;
  text-align: center;
  width: 100vw;
  background-image: url('../images/ocean.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  margin: 0 0 2rem;

}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .header-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 640px;
    display: grid;
    gap: 15px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'header1 header2'
      'main main'
      'main main'
      'main main'
      'main main';
    align-items: center;
    justify-items: start;

    .city {
      font-size: 5em;
      align-self: center;
      grid-area: header1;
      margin-left: 50px;
      text-decoration: underline;
    }

    .convert-btn {
      grid-area: header2;
      justify-self: center;
      letter-spacing: 2px;
      font-size: 1.5em;
      width: 100px;
      height: 40px;
      cursor: pointer;
      border: 2px solid #9b9797;
      padding: 4px;
      border-radius: 3px;
      margin-left: 5px;
      background-color: #31313100;
      color: white;
      font-weight: bold;
      transition: background-color .5s;

      &:hover {
        background-color: #615f5f83;
      }
    }

    .current-temp {
      font-size: 3em;
    }

    .current-wind {
      font-size: 3em;
    }

    .current-weather-description {
      font-size: 3em;
      text-transform: capitalize;
    }

    .current-weather-icon {
      width: 150px;
    }

    .current-feels-like {
      font-size: 3em;
    }

    .current-humidity {
      font-size: 3em
    }

    .current-clouds {
      font-size: 3em;
    }

    .current-time {
      font-size: 3em;
    }

    .current-pressure {
      font-size: 3em;
    }

  }

  .body-wrapper {


    width: 1044.5px;
    overflow: hidden;

    .slider-wrapper {
      display: flex;
      gap: 25px;
      transition: margin-left 1.2s;
    }

    .hourly-wrapper {
      display: flex;
      flex-direction: column;

      flex-basis: 64px;
      flex-grow: 0;
      flex-shrink: 0;

      .hourly-time {
        font-size: 2.4em;
      }

      .hourly-temp {
        font-size: 1.7em;
      }

      .hourly-wind {
        font-size: 1.7em;
      }
    }

    .slider-left {
      background-color: white;
    }

    .slider-right {
      background-color: none;
      border: 2px solid white
    }

    .slider-right-2 {
      background-color: none;
      border: 2px solid white
    }

    .slider-right-3 {
      background-color: none;
      border: 2px solid white
    }

    .slider {
      cursor: pointer;
      display: inline-block;
      margin: 15px;
      width: 15px;
      height: 15px;
      border-radius: 50px;
    }


  }

  .footer-wrapper {
    display: flex;
    gap: 60px;

    .daily-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .daily-time {
        font-size: 2.4em;
      }

      .daily-temp {
        font-size: 1.7em
      }

      .daily-wind {
        font-size: 1.7em
      }
    }
  }
}

#submit {
  border: 2px solid #9b9797;
  padding: 4px;
  border-radius: 3px;
  margin-left: 5px;

  background-color: #31313100;
  color: white;
  cursor: pointer;

  transition: background-color .5s;

  &:hover {
    background-color: #615f5f83;
  }

}


.search-wrapper {
  margin-top: 50px;

  #search-input {
    padding: 3px;
    text-transform: capitalize;
    border-radius: 3px;
    border: 2px solid #9b9797;
    font-weight: bold;

    background-color: #31313100;
    color: white;
  }

  input::placeholder {
    font-weight: bold;
    color: white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
  }

}

@media only screen and (max-width: 675px) {
  #root {
    .header-wrapper {
      width: auto;
      column-gap: 0;
      font-size: .7em;

      .convert-btn {
        font-size: 2.3em;
      }

      :nth-child(odd) {
        padding-left: 10px;
      }

      :nth-child(even) {
        margin-right: 10px;
      }

      :nth-child(1) {
        padding-left: 10px;
        margin-left: 20px;
      }
    }

    .body-wrapper {
      font-size: .8em;
      width: 522.225px;
    }

    .footer-wrapper {
      gap: 20px;
    }
  }
}

// 2089px width